{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>
    <body>
        <div class="header">
            {% block content %}
            {% include 'sidebar.html' %}
            {% endblock content %}
            <h1 style="text-transform: uppercase;">Alle Aufgaben</h1>
            <h3><a href="{% url 'tasks-add' %}" class="btn">Aufgabe hinzufügen</a> <a href="{% url 'tasks-add' %}" class="btn">Historie</a></h3>
        </div>

        <div class="content">
            <div class="list">
                <table>
                    <td>
                        <form method="post">
                            {% csrf_token %}
                            {{ formset.management_form }}
                            {% for form in formset %}
                                {% if form.instance.isDone == 0%}
                                    <tr>{% include 'task_card.html' %}</tr>
                                {% endif %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endfor %}
                        </form>
                    </td>
                </table>
            </div>
        </div>
    </body>
</html>