<table class="row" style="width: 100%">
    <tr>  
        <td style="width: 60px">
            {{ form.isDone }}
        </td>
        <td>
            <a href="{{ form.instance.get_absolute_url }}">
                <p class="p-headline">{{ form.instance.title }}</p>
                <p>Fällig am {{ form.instance.deadlineDate|date:"l, d.m.Y" }} &nbsp; |  &nbsp; {{ form.instance.responsibility }} &nbsp; | &nbsp; {{ form.instance.frequency |frequency }} </p>
            </a>
        </td>
        <td>
            {% for i in form.instance.points|range %}
            <td style="width:15px"><label class="circle"></label></td>
            {% endfor %}
        </td>
    </tr>
</table>
