.cell {
    border: solid 1px darkgray;
    font-size:medium;
    font-family: "Avenir Next";
    background-color: #F3F2ED;
    color: #006400;
    padding-right: 0em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    display: block;
    width: 100%;
    text-indent: 1em;
}

.cell-test { 
    border: solid 1px darkgray;
}

.table-btn {
    background: #006400;
    color: #F3F2ED;
}

.table-btn, .label-recent, .label-past{
    padding: 0.5em 1.5em;
    border: solid 1px #F3F2ED;
    border-radius: 1000em;
    font-size: small;
    float: right;
    text-align: center;
}

.label-recent{
    background: #006400;
    border-color: #006400;
    color: #F3F2ED;
    width: 6em;
}

.label-past{
    background: white;
    color: #006400;
    border-color: #006400;
    width: 6em;
}

.delete {
    background: white;
    color: red;
    border-color: red;;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}
