.cell {
    border: solid 1px darkgray;
    font-size:medium;
    font-family: "Avenir Next";
    background-color: #F3F2ED;
    color: #006400;
    padding-right: 0em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    display: block;
    width: 100%;
    text-indent: 1em;
}

.cell-test { 
    border: solid 1px darkgray;
}

.table-btn, .table-btn-row {
    background: #006400;
    color: #F3F2ED;
    padding: 0.5em 1.5em;
    border: solid 1px #F3F2ED;
    border-radius: 1000em;
    font-size: small;
    float: right;
}

.table-btn-row{
    color: white;
    border-color: white;
}

.delete {
    background: #F3F2ED;
    color: red;
    border-color: red;
}

.table-btn:hover, .table-btn-row:hover {
    border-color: #006400;
    color: #006400;
    background-color: #F3F2ED;
}

.table-btn-row:hover{
    background-color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}
