{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>
    <body>
        <div class="header">
            {% block content %}
            {% include 'sidebar.html' %}
            {% endblock content %}
            <h1>WOCHENPLAN</h1>
        </div>
        <!--
        <button class="btn" onclick=editMode()>Bearbeiten</button>
        <div class="popup" id="isInEditMode">
                {% for weekday, form in dishplan_settings %}
                <table>
                    <tr>
                        <td style="width: 50%;"><h3 class="h3-popup">{{ weekday }}</h3></td>
                        <td style="width: 50%;">{{ form }}</td>
                    </tr>
                </table>
                {% endfor %}
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn-popup">Speichern</button>
            </form>
        </div>
        -->

        <div class="content">
            <table style="width: 100%; margin-top: 1em;">
                {% for weekday, date, dishType, dish in dishplan %}
                    <tr>
                        <td>
                            <h3>{{ weekday }}<h3>
                            <p class="p-date">{{ date }}</p>
                        </td>
                        <td>
                            {% if dish is None %}
                                <p class="row">Keine Gerichte für den "{{ dishType.string }}"-Tag eingetragen</p>
                            {% else %}
                                {% include 'dish_card.html' %}
                            {% endif %}
                        </td>
                    </tr>
                    
                {% endfor %}
            </table>
        </div>

        <script>
            function editMode(){
                var x = document.getElementById("isInEditMode");
                if(x.style.display === "none"){
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
        </script>
    </body>
</html>