{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <link rel="stylesheet" href="{% static 'form.css' %}">
        <style>
            .cell td {
                border:1px solid gray;
            }
        </style>
    </head>
    <body>
        <div class="header">
            {% include 'sidebar.html' %}
            <h1 style="text-transform: uppercase;">Aufgabenhistorie</h1>
            <form method="GET" action="{% url 'tasks-history' %}">
                <div style="display: flex; align-items: center;">
                    {{ search_form }}
                    <button type="submit" class="btn">Suche starten</button>
                </div>
            </form>
            <table style="margin-top: 0.55em;">
                <td> <a href="{% url 'tasks-add' %}" class="sidebar-col">Neue Aufgabe hinzufügen</a></td>
                <td><a href="{% url 'tasks' %}" class="sidebar-col">Aufgabenliste anzeigen</a></td>
            </table>
        </div>

        <div class="content" style="margin-top: -4em;">
            <table style="width:100%; min-width: 1200px; text-align: left; border-collapse: collapse; border:none" class="list">
                    <tr style="color: #006400;">
                        <th>Aufgabe</th>
                        <th>Geändert von</th>
                        <th>Änderungsdatum</th>
                        <th>Änderung</th>
                    </tr>
                {% for task in tasks %}
                    <tr style="color: #454545" class="cell">
                        <td><p>{{ task.0.task.title }}</p></td>
                        <td><p>{{ task.1 }}</p></td>
                        {% if task.0.event == "Änderungsstatus unbekannt" %}
                        <td><p>{{ task.0.task.lastChangeDate|date:"d.m.Y H:i:s" }}</p></td>
                        {% else %}
                        <td><p>{{ task.0.eventDate|date:"d.m.Y H:i:s" }}</p></td>
                        {% endif %}
                        <td style="text-align: left;"><p>{{ task.0.event }}</p></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <span style="margin-top: 1.2em;font-size: small; float:left;">Zeigt die ersten 75 Aufgaben an</span>
        <div style="margin-top: 1em; float:right;">
            <span>
              {% if tasks.has_previous %}
                <a href="?page=1">&#9664;&#9664;</a>
                <a href="?page={{ tasks.previous_page_number }}">&#9664;	</a>
              {% endif %}
          
              <span>{{ tasks.number }} von {{ tasks.paginator.num_pages }}</span>

              {% if tasks.has_next %}
                <a href="?page={{ tasks.next_page_number }}">&#9654;</a>
                <a href="?page={{ tasks.paginator.num_pages }}">&#9654;&#9654;</a>
              {% endif %}
            </span>
          </div>
    </body>
</html>