{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <style>
            .cell td {
                border:1px solid gray;
            }
        </style>
    </head>
    <body>
        <div class="header">
            {% include 'sidebar.html' %}
            <h1 style="text-transform: uppercase;">Aufgabenhistorie</h1>
            <h3><a href="{% url 'tasks-add' %}" class="btn">Aufgabe hinzufügen</a> <a href="{% url 'tasks' %}" class="btn">Alle Aufgaben</a></h3>
        </div>

        <div class="content">
            <table style="width:100%; min-width: 1200px; text-align: left;" class="list">
                    <tr style="color: #006400;">
                        <th>Aufgabe</th>
                        <th>Geändert von</th>
                        <th>Änderungsdatum</th>
                        <th>Änderung</th>
                    </tr>
                {% for task in tasks %}
                    <tr style="color: #454545" class="cell">
                        <td><p>{{ task.task.title }}</p></td>
                        <td><p>{{ task.ipAddress }}</p></td>
                        {% if task.event == "Änderungsstatus unbekannt" %}
                        <td><p>{{ task.task.lastChangeDate|date:"d.m.Y H:i:s" }}</p></td>
                        {% else %}
                        <td><p>{{ task.eventDate|date:"d.m.Y H:i:s" }}</p></td>
                        {% endif %}
                        <td style="text-align: left;"><p>{{ task.event }}</p></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>