{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <link rel="stylesheet" href="{% static 'form.css' %}">
    </head>
    <body>
        <div class="header">
            {% block content %}
            {% include 'sidebar.html' %}
            {% endblock content %}
            <h1 style="text-transform: uppercase;">Alle Aufgaben</h1>
            <table>
                <tr>
                    <td>
                        <form style="text-align: right;" method="GET" action="{% url 'tasks' %}">
                            <td>{{ search_form }}</td>
                            <td><button type="submit" class="btn">Suchen</button></td>
                        </form>
                    </td>
                    <td style="padding-left: 1vw;"><a href="{% url 'tasks-add' %}" class="sidebar-col">Neue Aufgabe hinzufügen</a></td>
                    <td>
                        <h3><a href="{% url 'tasks-history' %}" class="sidebar-col">Historie anzeigen</a></h3>
                    </td>
                </tr>
            </table>
        </div>

        <div class="content" style="margin-top: -4em;">
            <div class="list">
                <table>
                    <td>
                        <form method="post">
                            {% csrf_token %}
                            {{ formset.management_form }}
                            {% for form in formset %}
                                <tr>{% include 'tasks/task_card.html' %}</tr>
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endfor %}
                        </form>
                    </td>
                </table>
            </div>
        </div>
    </body>
</html>