{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <link rel="stylesheet" href="{% static 'form.css' %}">
        <link rel="stylesheet" href="{% static 'table.css' %}">
        <style>
            @media (max-width: 900px) {
                .responsive-card {
                    min-width: 100%; /* Full width on smaller screens */
                }
            }
        </style>
    </head>
    <body>
        <div class="header">
            {% block content %}
            {% include 'sidebar.html' %}
            {% endblock content %}
            <h1 style="text-transform: uppercase;">Alle Aufgaben</h1>
            <form method="GET" action="{% url 'tasks' %}">
                <div style="display: flex; align-items: center;">
                    {{ search_form }}
                    <button type="submit" class="btn">Suche starten</button>
                </div>
            </form>
            <table style="margin-top: 0.5em;">
                <td><a href="{% url 'tasks-add' %}" class="sidebar-col">Neue Aufgabe hinzufügen</a></td>
                <td><a href="{% url 'tasks-history' %}" class="sidebar-col">Historie anzeigen</a></td>
            </table>
        </div>

        <div class="content">
                <form method="post">
                    <div class="responsive-table">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    {% for form in formset %}
                        <div class="responsive-card">{% include 'tasks/task_card.html' %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        </div>
                    {% endfor %}
                    </div>
                </form>
        </div>
    </body>
</html>