{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>
    <body>
        <div class="header">
            {% include 'sidebar.html' %}
            <h1 style="text-transform: uppercase;">Aufgabenhistorie</h1>
            <h3><a href="{% url 'tasks-add' %}" class="btn">Aufgabe hinzufügen</a> <a href="{% url 'tasks' %}" class="btn">Alle Aufgaben</a></h3>
        </div>

        <div class="content">
            <table style="width:100%; min-width: 1200px; text-align: center;" class="list">
                    <tr style="color: #006400;">
                        <th>Aufgabe</th>
                        <th>Punkte</th>
                        <th>Veranwortlich</th>
                        <th>Fälligkeitsdatum</th>
                        <th>Aktion</th>
                        <th>Geändert von</th>
                        <th>Datum der Aktion</th>
                    </tr>
                {% for task in tasks %}
                    <tr style="color: #454545">
                        <td><p>{{ task.task.title }}</p></td>
                        <td><p>{{ task.task.points }} {% if task.points == 1 %}Punkt{%else%}Punkte{%endif%}</p></td>
                        <td><p>{{ task.task.responsibility }}</p></td>
                        <td><p>{{ task.task.deadlineDate|date:"j.m.Y"  }}</p></td>
                        <td><p>{{ task.event }}</p></td>
                        <td><p>{{ task.ipAddress }}</p></td>
                        <td><p>{{ task.eventDate|date:"j.m.Y H:i:s" }}</p></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>