{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>
    <body>
        <div class="header">
            <h1>Datei hinzufügen</h1>
            <a href="{% url 'bills' %}" class="btn">Zurück zu Rechnungen</a>
        </div>

        <div class="content list">
            <form method="post">
                {% csrf_token %}
                {{form}}
                <button type="submit">Speichern</button>
            </form>
        </div>
    </body>
</html>