{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'main.css'%}">
        <link rel="stylesheet" href="{% static 'table.css'%}">
    </head>
    <body>
        <div class="header">
            {% include 'sidebar.html' %}
            <h1 style="text-transform: uppercase;">Transaktionen</h1>
            <h3><a href="{% url 'bills' %}" class="btn">Zurück zu den Beitragsrechnungen</a></h3>
        </div>

        <div class="content">
                <table style="width: 100%;" class="list">

                    <tr style="color: #006400;">
                        <th>Gemeinschaftliche Teilung</th>
                        <th>Verwendungszweck</th>
                        <th>Betrag in Euro</th>
                    </tr>
                    <form method="post">
                        {% csrf_token %}
                        {{formset.management_form }}
                        {% for form in formset %}
                            {% if form.instance.isActive == 1 %}
                            <tr>
                                <td style="width: 5%">{{ form.isCommunal }}</td>
                                <td style="width: 65%">{{ form.title }}</td>
                                <td style="width: 20%">{{ form.sum }}</td>
                                <!--<td>{% divide form.sum 3 %}</td>-->
                                <td style="width: 5%"><button type="submit" name="save" class="table-btn" value="{{ form.instance.id_transaction }}">Speichern</button></td>
                                <td style="width: 5%"><button type="submit" name="delete" class="table-btn delete" value="{{ form.instance.id_transaction }}">Löschen</button></td>
                            </tr>
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </form>
                </table>
        </div>
    </body>
</html>