{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'main.css'%}">
        <link rel="stylesheet" href="{% static 'table.css'%}">
    </head>
    <body>
        <div class="header">
            {% include 'sidebar.html' %}
            <h1 style="text-transform: uppercase;">Transaktionen</h1>
            <h3><a href="{% url 'bills' %}" class="btn">Zurück zu den Beitragsrechnungen</a></h3>
        </div>

        <div class="content">
                <div class="list" style="width: 100%;">
                    <form method="post">
                        {% csrf_token %}
                        {{formset.management_form }}
                        {% for form in formset %}
                            {% if form.instance.isActive == 1 %}
                            <table class="row" style="width: 100%; margin-top: -10px;">
                                <td style="width: 150px;">{{ form.isEssential }} <p style="padding-top: 5px;">{% if form.instance.isEssential == 1 %} Essenziell {% else %} Gemeinschaftlich {% endif %}</p></td>
                                <td>{{ form.title }}</td>
                                <td style="width: 15%;">{{ form.sum }}</td>
                                <td style="width: 100px; padding-left: 35px;"><button type="submit" name="save" class="table-btn" value="{{ form.instance.id_transaction }}">Speichern</button></td>
                                <td style="width: 100px;"><button type="submit" name="delete" class="table-btn delete" value="{{ form.instance.id_transaction }}">Löschen</button></td>
                            </table>
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </form>
                </div>
        </div>
    </body>
</html>