{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <link rel="stylesheet" href="{% static 'form.css' %}">
        <link rel="stylesheet" href="{% static 'table.css' %}">
        <style>
            @media (max-width: 900px) {
                .responsive-card {
                    min-width: 100%; /* Full width on smaller screens */
                }
            }
        </style>
    </head>
    <body>
        <div class="header">
            {% block content %}
            {% include 'sidebar.html' %}
            {% endblock content %}
            <h1 style="text-transform: uppercase;">Alle Gerichte</h1>
            <form method="GET" action="{% url 'dishes' %}">
                <div style="display: flex; align-items: center;">
                    {{ search_form }}
                    <button type="submit" class="btn">Suche starten</button>
                </div>
            </form>
            <table style="margin-top: 0.5em;"><td><a href="{% url 'dishes-add' %}" class="sidebar-col">Gericht hinzufügen</a></td></table>
        </div>

        <div class="content">
            <div class="responsive-table">
                {% for dish in dishes %}
                <div class="responsive-card">
                    {% include 'dishes/dish_card.html'%}
                </div>
                {% endfor %} 
            </div>
        </div>
    </body>
</html>