{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>
    <body>
        <div class="header">
            {% include 'sidebar.html' %}
            <h1>WOCHENPLAN</h1>
            <a href="{% url 'dishes' %}" class="btn">Alle Gerichte</a>
        </div>

        <div class="content">
            <table style="width: 100%;" class="list">
                {% for weekday, date, dishType, dish in dishplan %}
                    <tr>
                        <td>
                            <h3>{{ weekday }}<h3>
                            <p class="p-date">{{ date }}</p>
                        </td>
                        <td>
                            {% if dish is None %}
                                <p class="row">Keine Gerichte für den "{{ dishType.string }}"-Tag eingetragen</p>
                            {% else %}
                                {% include 'dishes/dish_card.html' %}
                            {% endif %}
                        </td>
                    </tr>
                    
                {% endfor %}
            </table>
        </div>

        <script>
            function editMode(){
                var x = document.getElementById("isInEditMode");
                if(x.style.display === "none"){
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
        </script>
    </body>
</html>