.content {
    padding-top: 2em;
}

.form-headline, .form-textfield {
    width: 100%
}

.form-headline{
    color: #006400; 
    background: #F3F2ED;
    border: none;
    font-size: 3.5em;
    font-family: 'Avenir Next';   
}

.form-headline, .form-number {
    font-weight: bold;
}

.form-number, .form-textfield, .form-choicefield{
    font-family: 'Avenir Next';
    color: #006400; 
    border: none;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

.form-textfield {
    font-size: medium;
    border-radius: 1em;
    padding: 1.5em;
}

.form-number {
    margin-top: 1em;
    font-size: 1.5em;
    border-radius: 0.4em;
    padding: 0.2em 0.5em;
    width: 10vw
}

.form-choicefield {
    border: none;
    font-size: medium;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: white;
}

.form-datepicker {
    color: #006400;
    padding: 1em;
}


.navbar-detailview{
    position: fixed;
    bottom: 3em;
}