body {
    font-family: 'Avenir Next', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #F3F2ED;
    padding: 2% 5%;
}

.header {
    position: sticky;
    top: 3em;
    width: 100%;
    background: #F3F2ED;
    padding-bottom: 2em;
}

.content {
    margin-top: -1em;
}


h1 {
    font-size: 3.5em;
    font-family: 'Futura', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h3, a, .row, .green{
    color: #006400;
}

a {
    text-decoration: none;
    font-weight: 500;
}

a:hover {
     text-decoration: underline;
}

.popup {
    display: none;
    position: fixed; 
    background: white;
    padding: 2em; 
    border-radius: 1em; 
    margin-top: 0;
}

.h3-popup {
    color: #006400;
    font-weight: normal;
}

.btn-popup{
    background: none;
    border: none;
    color: #006400;
    font-size: medium;
    font-weight: 600;
    margin-top: 1em;
    float: right;
}


.btn {
    background: #006400;
    color: #F3F2ED;
    padding: 0.6em 1.8em;
    border: solid 1px #F3F2ED;
    border-radius: 1000em;
    font-size: medium;
    font-weight: 500;
}

.btn-back {
    margin-left: 1em;
    color: #767676 !important;
    font-size: medium;
    text-decoration: none;
    background: none;
    border: none;
}

.btn:hover, .btn-back:hover, .btn-delete:hover, .btn-popup:hover{
    text-decoration: underline;
}

.btn-delete {
    background-color: #F3F2ED;
    color: #ff0000;
    border: none;
    font-size: medium;
    font-weight: 500;
    margin-left: 1em;
}

p {
    font-weight: normal;
    font-size: medium;
    margin: 0.25em;
}

h3 {
    font-size: medium;
}

.p-headline {
    font-weight: bold;
}


.p-date {
    color: gray;
    margin: 0;
    margin-top: -0.75em
}

.list {
    margin-top: 2em;
}

.row {
    background: white;
    padding: 0.75em 1.5em;
    border-radius: 1em;
    margin-bottom: 1.5em;
}

button {
    font-family: 'Avenir Next', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.circle {
    display: flex;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #006400
}