body {
    font-family: 'Avenir Next';
    background: #F3F2ED;
    padding: 2% 5%;
}

h1 {
    font-size: 3.5em;
    font-family: 'Futura';
    margin-bottom: 0;
}

h1, h3, a, .row{
    color: #006400;
}

a {
    text-decoration: none;
    font-weight: 500;
}

a:hover {
     text-decoration: underline;
}

.popup {
    display: none;
    position: fixed; 
    background: #006400;
    padding: 2em; 
    border-radius: 1em; 
    margin-top: 0.5em;
}

.h3-popup {
    color: #F3F2ED;
    font-weight: normal;
}

.btn {
    background: #006400;
    color: #F3F2ED;
    padding: 0.6em 1.8em;
    border: solid 1px #F3F2ED;
    border-radius: 1000em;
    font-size: medium;
    font-weight: 500;
}

.btn-back {
    color: gray;
    font-size: medium;
    text-decoration: none;
    background: none;
    border: none;
}

.btn:hover, .btn-back:hover, .btn-delete:hover{
    text-decoration: underline;
}

.btn-delete {
    background-color: #F3F2ED;
    color: red;
    border: none;
    font-size: medium;
    font-weight: 500;
    margin-left: 1em;
}

p {
    font-weight: normal;
    font-size: medium;
    margin: 0.25em;
}

h3 {
    font-size: medium;
}

.p-headline {
    font-weight: bold;
}


.p-date {
    color: gray;
    margin: 0;
    margin-top: -0.75em
}

.list {
    margin-top: 4em;
}

.row {
    background: white;
    padding: 0.75em 1.5em;
    border-radius: 1em;
    margin-bottom: 1.5em;
}

button {
    font-family: 'Avenir Next';
    font-weight: 500;
}
