<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
        .sidebar-col {
            padding-right: 1em;
        }
        </style>
    </head>

    <body>
        <table>
            <td class="sidebar-col"><a href="{% url 'home' %}">Startseite</a></td>
            <td class="sidebar-col"><a href="{% url 'tasks' %}">Aufgaben</a></td>
            <td class="sidebar-col"><a href="{% url 'dishes' %}">Rezeptesammlung</a></td>
            <td class="sidebar-col"><a href="{% url 'bills' %}">Beitragsrechnungen</a></td>
        </table>
    </body>
</html>