{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>
    <body>
        {% block content %}
        {% include 'sidebar.html' %}
        {% endblock content %}

        <h1 style="text-transform: uppercase;">Alle Gerichte</h1>
        <h3><a href="{% url 'dishes-add' %}" class="btn">Gericht hinzufügen</a></h3>
        <div class="list">
            <table>
            <td>
                {% for dish in dishes %}
                <tr>{% include 'dish_card.html'%}</tr>
                {% endfor %}
            </td>
            </table>
        </div>
    </body>
</html>