{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>
    <body>
        {% block content %}
        {% include 'sidebar.html' %}
        {% endblock content %}

        <h1 style="text-transform: uppercase;">Alle Gerichte</h1>
        <h3><a href="{% url 'dishes-add' %}" class="btn">Gericht hinzufügen</a></h3>
        <div class="list">
            <table>
            <td>
                {% for dish in dishes %}
                <tr>
                    <table class="row" width="100%">
                        <tr>
                            <td>
                                <a href="{{ dish.get_absolute_url }}">
                                    <p class="p-headline">{{ dish.name }}</p>
                                    <p>Zubereitungszeit: {{dish.proximityDuration}} Minuten</p>
                                </a>
                            </td>
                            
                            <td>
                                <p>{{ dish.id_dishType.string }}</p>
                            </td>
                        </tr>
                    </table>
                </tr>
                {% endfor %}
            </td>
            </table>
        </div>
    </body>
</html>