{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>
    <body>
        <h1 style="text-transform: uppercase;">Alle Gerichte</h1>
        <h3><a href="{% url 'dishes-add' %}" class="btn">Gericht hinzufügen</a></h3>
        <div class="list">
            <table>
            <td>
                {% for dish in dishes %}
                <tr>
                    <div class="row">
                        <a href="{{ dish.get_absolute_url }}">
                            <p class="p-headline">{{ dish.name }}</p>
                            <p>Zubereitungszeit: {{dish.proximityDuration}} Minuten</p>
                        </a>
                    </div>
                </tr>
                {% endfor %}
            </td>
            </table>
        </div>
    </body>
</html>