{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <link rel="stylesheet" href="{% static 'form.css' %}">
    </head>
    <body> 
        <div class="header">
            {% block content %}
            {% include 'sidebar.html' %}
            {% endblock content %}
        </div>
        
        <div class="content">
            <form method="post">
                {% csrf_token %}
                {{ dish_edit_form }}
                <div class="navbar-detailview">
                    <button type="submit" name="save" class="btn">Speichern</button>
                <button type="submit" name="delete" class="btn-delete">Löschen</button>
                <a href="{% url 'dishes' %}" class="btn-back">Zurück</a>
                </div>
            </form>
        </div>
    </body>
</html>