{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <link rel="stylesheet" href="{% static 'forms.css' %}">
    </head>
    <body> 
        {% block content %}
        {% include 'sidebar.html' %}
        {% endblock content %}
        <form method="post">
            {% csrf_token %}
            {{ dish_edit_form }}
            <button type="submit" name="save" class="btn">Speichern</button>
            <button type="submit" name="delete" class="btn-delete">Löschen</button>
        </form>
    </body>
</html>